<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383006865133-0irhql7fee6u2937pcjr4n1tfc9eukgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383006865133-0irhql7fee6u2937pcjr4n1tfc9eukgu</string>
	<key>API_KEY</key>
	<string>AIzaSyBPLFmkMGGo8PZqXsDkeAxo92oN0DOsWOk</string>
	<key>GCM_SENDER_ID</key>
	<string>383006865133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nksl.userapp</string>
	<key>PROJECT_ID</key>
	<string>aksl-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aksl-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:383006865133:ios:c55904dcb981f61c11fee4</string>
</dict>
</plist>
